/*-- scss:defaults --*/

// Colors
$code-block-codecolor: #000080;
$code-block-stdoutcolor: #808000;
$code-block-stderrcolor: #800000;


$code-block-codecolor-light: rgba($code-block-codecolor, 0.1);
$code-block-codecolor-lighter: rgba($code-block-codecolor, 0.05);
$code-block-stdoutcolor-light: rgba($code-block-stdoutcolor, 0.1);
$code-block-stdoutcolor-lighter: rgba($code-block-stdoutcolor, 0.05);
$code-block-stderrcolor-light: rgba($code-block-stderrcolor, 0.1);
$code-block-stderrcolor-lighter: rgba($code-block-stderrcolor, 0.05);

// Code block
$code-block-bg: $code-block-codecolor-lighter;
$code-block-border: $code-block-codecolor-light;
$code-block-border-left: $code-block-codecolor;
$code-block-border-left-size: 5px;

/*-- scss:rules --*/

.cell-output-display pre, .cell-output-stdout pre {
    background-color: $code-block-stdoutcolor-lighter !important;
    border: 1px solid $code-block-stdoutcolor-light;
    border-radius: .25rem;
    border-left: 5px;
    border-left-style: solid;
    border-left-color: $code-block-stdoutcolor;
    padding: .4em
}

.cell-output-stderr pre {
    background-color: $code-block-stderrcolor-lighter !important;
    border: 1px solid $code-block-stderrcolor-light;
    border-radius: .25rem;
    border-left: 5px;
    border-left-style: solid;
    border-left-color: $code-block-stderrcolor;
    padding: .4em
}

.cell-output pre code {
    background-color: transparent;
}
